
.flip-box {
    background-color: transparent;
    width: 267px;
    height: 354px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 50%;
    height: 50%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .vertical {
    transform: rotateX(180deg);

} 
.flip-box:hover .horizontal {
    transform: rotateY(180deg);

} 

.flip-box0-front { background-image: none; }

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
    background-repeat: no-repeat;     
}
.flip-box-back {
    background-color: white;
    color: black;
    /*transform: rotateX(180deg);*/
    transform: rotateY(180deg);
}


